@model ContactUsViewModel

@{
    Layout = Model.PageContent.TemplateKey;

    ViewData["Title"] = Model != null && Model.PageContent != null ? Model.PageContent.Title : "Contact Us page";
}



<div class="row col-xs-12">
    
    <div class="col-md-6 col-xs-6">
        
        <p>Please complete below form to Contact Us.</p>
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>


            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Subject" class="control-label"></label>
                <input asp-for="Subject" class="form-control" />
                <span asp-validation-for="Subject" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Body" class="control-label"></label>
                <textarea asp-for="Body" class="form-control" rows="7"></textarea>
                <span asp-validation-for="Body" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div class="col-md-6 col-xs-6">

        @if (Model != null && (!string.IsNullOrEmpty(Model.Body)))
        {
            @Html.Raw(Model.Body)
        }
        else
        {
            <!-- Default text -->
            <h2>Call us</h2>
            <p>Telephone: <span>0330 433 2880</span></p>
            <p>Mon-Fri 08:30 - 17:30</p>
            <p>Calls are free (included in your bundle minutes)&nbsp;from mobiles and landlines.</p>
            <p>Otherwise, please email <a href="mailto:customerservice@markeldirect.co.uk">customerservice@markeldirect.co.uk</a> to contact us.</p>

            <h2>Address</h2>
            <p>Customer service<br>Markel (UK) Limited<br>2nd Floor, Verity House<br>6 Canal Wharf<br>Leeds<br>LS11 5AS<br><br></p>
        }


    </div>
    </div>

    @section banner
{
        <img src=" @Model.PageContent.ImageUrl" class="img-circle img-fluid img-responsive imgMax" />

    }
