@model PageContent
@{
    Layout = Model.TemplateKey;
    ViewData["Title"] = Model != null ? Model.Title : "Content page";
    ViewData["bannerBG"] = Model.ImageUrl;
}

@if (Model != null && (!string.IsNullOrEmpty(Model.Body)))
{
    @Html.Raw(Model.Body)
}
else
{
    <!-- Default text -->

    <div class="content-inner">

        <article class="article-page">
            <div class="panel">
                <div class="panel__grid-width">
                    <h1 class="panel__first text-left">Professional Indemnity insurance vs Public Liability insurance, the differences explained</h1>
                    <div class="content-and-sidebar-layout">
                        <div class="content-and-sidebar-layout-primary">

                            <img src="~/images/what-is-professional-indemnity-insurance.jpg" class="img-circle img-responsive articleImg" />
                            <aside class="sharing-tools">
                                <h2 class="sharing-tools__title">Share this article</h2>


                                <div style="display: table-cell; text-align: right; vertical-align: middle; line-height: 1;">

                                    <a style="box-sizing: content-box; display: inline-block; width: auto; padding: 0; margin: 0 2px 5px; outline-offset: -1px; transition: all .2s ease-in-out;" data-svc="facebook" data-svc-id="MarkelDirect" title="Follow on Facebook" href="http://www.facebook.com/MarkelDirect" target="_blank">
                                        <span style="background-color: rgb(59, 89, 152); line-height: 32px; height: 32px; width: 32px; border-radius: 0%; cursor: pointer; display: inline-block; overflow: hidden;">
                                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32" version="1.1" role="img" aria-labelledby="at-svg-facebook-1" class="at-icon at-icon-facebook" style="fill: rgb(255, 255, 255); width: 32px; height: 32px;">
                                                <title id="at-svg-facebook-1">Facebook</title>
                                                <g>
                                                    <path d="M 22 5.16 c -0.406 -0.054 -1.806 -0.16 -3.43 -0.16 c -3.4 0 -5.733 1.825 -5.733 5.17 v 2.882 H 9 v 3.913 h 3.837 V 27 h 4.604 V 16.965 h 3.823 l 0.587 -3.913 h -4.41 v -2.5 c 0 -1.123 0.347 -1.903 2.198 -1.903 H 22 V 5.16 Z" fill-rule="evenodd">
                                                    </path>
                                                </g>
                                            </svg>
                                        </span>
                                    </a>

                                    <a style="box-sizing: content-box; display: inline-block; width: auto; padding: 0; margin: 0 2px 5px; outline-offset: -1px; transition: all .2s ease-in-out;" data-svc="twitter" data-svc-id="markeldirect" title="Follow on Twitter" href="http://twitter.com/intent/follow?source=followbutton&amp;variant=1.0&amp;screen_name=markeldirect" target="_blank">
                                        <span style="background-color: rgb(29, 161, 242); line-height: 32px; height: 32px; width: 32px; border-radius: 0%; cursor: pointer; display: inline-block; overflow: hidden;">
                                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32" version="1.1" role="img" aria-labelledby="at-svg-twitter-2" class="at-icon at-icon-twitter" style="fill: rgb(255, 255, 255); width: 32px; height: 32px;">
                                                <title id="at-svg-twitter-2">Twitter</title>
                                                <g>
                                                    <path d="M27.996 10.116 c -0.81 0.36 -1.68 0.602 -2.592 0.71 a 4.526 4.526 0 0 0 1.984 -2.496 a 9.037 9.037 0 0 1 -2.866 1.095 a 4.513 4.513 0 0 0 -7.69 4.116 a 12.81 12.81 0 0 1 -9.3 -4.715 a 4.49 4.49 0 0 0 -0.612 2.27 a 4.51 4.51 0 0 0 2.008 3.755 a 4.495 4.495 0 0 1 -2.044 -0.564 v 0.057 a 4.515 4.515 0 0 0 3.62 4.425 a 4.52 4.52 0 0 1 -2.04 0.077 a 4.517 4.517 0 0 0 4.217 3.134 a 9.055 9.055 0 0 1 -5.604 1.93 A 9.18 9.18 0 0 1 6 23.85 a 12.773 12.773 0 0 0 6.918 2.027 c 8.3 0 12.84 -6.876 12.84 -12.84 c 0 -0.195 -0.005 -0.39 -0.014 -0.583 a 9.172 9.172 0 0 0 2.252 -2.336" fill-rule="evenodd">
                                                    </path>
                                                </g>
                                            </svg>
                                        </span>

                                    </a>

                                    <a style="box-sizing: content-box; display: inline-block; width: auto; padding: 0; margin: 0 2px 5px; outline-offset: -1px; transition: all .2s ease-in-out;" data-svc="linkedin" data-svc-id="markel-direct" title="Follow on LinkedIn" href="http://www.linkedin.com/company/markel-direct" target="_blank">
                                        <span style="background-color: rgb(0, 119, 181); line-height: 32px; height: 32px; width: 32px; border-radius: 0%; cursor: pointer; display: inline-block; overflow: hidden;">
                                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32" version="1.1" role="img" aria-labelledby="at-svg-linkedin-3" class="at-icon at-icon-linkedin" style="fill: rgb(255, 255, 255); width: 32px; height: 32px;">
                                                <title id="at-svg-linkedin-3">LinkedIn</title>
                                                <g>
                                                    <path d="M 26 25.963 h -4.185 v -6.55 c 0 -1.56 -0.027 -3.57 -2.175 -3.57 c -2.18 0 -2.51 1.7 -2.51 3.46 v 6.66 h -4.182 V 12.495 h 4.012 v 1.84 h 0.058 c 0.558 -1.058 1.924 -2.174 3.96 -2.174 c 4.24 0 5.022 2.79 5.022 6.417 v 7.386 Z M 8.23 10.655 a 2.426 2.426 0 0 1 0 -4.855 a 2.427 2.427 0 0 1 0 4.855 Z m -2.098 1.84 h 4.19 v 13.468 h -4.19 V 12.495 Z" fill-rule="evenodd">
                                                    </path>
                                                </g>
                                            </svg>
                                        </span>
                                    </a>
                                </div>
                            </aside>
                            <h3 class="intro">
                                Professional indemnity insurance (PI) and public liability insurance (PL) are different types of business insurance that cover compensation claims. It is often misunderstood how each of these business insurance policies protect businesses against risk.
                            </h3>
                            <div class="main-body">
                                <p>The short answer could be designed as follows: professional indemnity insurance cover claims made by clients for professional negligence or mistakes, whereas public liability insurance covers claims made by members of the public for injury or damage.</p>
                                <p>Read on to discover how each of these two important business insurance policies help organisations, of all sizes, and why it is important and cost-effective to carry both policies.</p>
                                <h2>How does public liability (PL) insurance work?</h2>
                                <p>Public liability insurance covers claims of injury or property damage by a member of the general public against your business. This could include customers, clients, suppliers or passers-by.</p>
                                <p>Public liability insurance can also cover the cost of your legal defence, compensation payments, medical costs and loss of income as a result of the claim.</p>
                                <p>Large organisations carry public liability insurance as good practice because they typically deal with the general public on a daily basis, but many freelancers may not be aware of the need to carry this type of insurance which can leave them exposed to potential financially damaging claims.</p>
                                <p>Freelancers who meet clients in their own homes, or who meet clients at their client’s premises should consider public liability insurance in case the worst should happen. It is easy to think you are careful and conscientious, but many accidents happen due to something that is out of our control. Examples of accidental damage caused to client property by freelancers are not uncommon, but without public liability insurance in place they can be costly.</p>
                                <p>For contractors the decision is typically easier as many contracts will stipulate both professional indemnity insurance and public liability insurance as mandatory in the terms of their contract.</p>
                                <p>PL insurance claims can be wide ranging, the most common examples demonstrate how PL insurance works and include the following:</p>
                                <p><strong>· Slips</strong> - a customer visits your workplace and slips on wet floor, breaking their arm. As a result they connect work and claim against you for the financial loss suffered.</p>
                                <p><strong>· Trips</strong> - a client trips over a loose wire and sprains their wrist. They make a compensation claim against you.</p>
                                <p><strong>· Falls</strong> - a client falls down some stairs and breaks and ankle. They claim against you for the time they are off work and for rehabilitation costs.</p>
                                <p><a href="https://quote.markeluk.com/quote?%3e">Click here for a quick online quote for Public Liability Insurance.</a></p>
                                <h2>How does professional indemnity insurance (PI) insurance work?</h2>
                                <p>Professional indemnity insurance will cover claims made against you by a client for professional negligence or errors made in the work you have competed for your client. Claims can be made due to professional errors, defamation or libel, sub-standard work, or the perception that you gave your client poor business advice,</p>
                                <p>Professional indemnity insurance can cover the legal costs incurred in defending against a claim, compensation payments, and additional costs for rectifying an issue and loss of income as a result of the claim.</p>
                                <p>Professional indemnity claims are quite common, examples include: a creative design agency creating and printing an advertisement for a client containing incorrect contact details so the client misses out on sales enquiries, or a recruitment agency accidentally forwarding on confidential client information, or a business consultant offering a client advice that causes their client to suffer a financial loss.</p>
                                <p><strong>Professional indemnity insurance typically covers the following:</strong></p>
                                <ul>
                                    <li>Professional negligence - such as making a mistake in a piece of work for a client or giving them poor advice</li>
                                    <li>Unintentional breach of confidentiality - such as sharing sensitive client information without permission</li>
                                    <li>Unintentional breach of copyright - such as using an image on your website without the image owner’s permission</li>
                                    <li>Defamation or libel - such as making false comments about a competitor or client that damage their reputation</li>
                                    <li>Loss of data or documents</li>
                                    <li>Loss of money or good for which you are responsible.<br><br></li>
                                </ul>


                            </div>

                        </div>

                    </div>
                </div>
            </div>


        </article>

    </div>

}